In [ ]:
# from tabulate import tabulate

# Create a lists for the girls
girls = [
    ['Samantha', 17, 5.5, 80, 'Female'],
    ['Jada', 16, 6.0, 85, 'Female'],
    ['Jane', 17, 5.4, 70, 'Female'],
    ['Claire', 18, 5.9, 60, 'Female'],
    ['Elizabeth', 16, 5.6, 76, 'Female'],
    ['Mary', 18, 5.5, 66, 'Female'],
    ['Susan', 17, 6.1, 87, 'Female'],
    ['Waje', 20, 6.0, 95, 'Female'],
    ['Taibat', 19, 5.7, 50, 'Female'],
    ['Lilian', 17, 5.5, 49, 'Female']
]

# Create a list for the boys
boys = [
    ['Charles', 19, 5.7, 74, 'Male'],
    ['Jude', 16, 5.9, 87, 'Male'],
    ['James', 18, 5.8, 75, 'Male'],
    ['Kelvin', 17, 6.1, 68, 'Male'],
    ['Biodun', 20, 5.9, 66, 'Male'],
    ['Wale', 19, 5.5, 78, 'Male'],
    ['Kunle', 16, 6.1, 87, 'Male'],
    ['Matthew', 18, 5.4, 98, 'Male'],
    ['Tom', 17, 5.8, 54, 'Male'],
    ['Kayode', 19, 5.7, 60, 'Male']
]

# Create headers for the table
headers = ['Name', 'Age', 'Height', 'Score', 'Gender']

# Concatenate the girls and boys data
students = girls + boys

# Display the table
print(tabulate(students, headers))

In [ ]:
years_of_experience = int(input("Enter your years of experience: "))
age = int(input("Enter your age: "))

if years_of_experience > 25 and age >= 55:
    print("Your ATR is 5600000")
elif years_of_experience > 20 and age >= 45:
    print("Your ATR is 4480000")
elif years_of_experience > 10 and age >= 35:
    print("Your ATR is 1500000")
else:
    print("Your ATR is 550000")